APP_NAME=DulceMoment API
API_V1_PREFIX=/api/v1
# Para desarrollo local con SQLite (por defecto):
DATABASE_URL=sqlite:///./dulcemoment.db
# Para producción en EC2 con MySQL (descomenta y actualiza valores):
# DATABASE_URL=mysql+pymysql://root:tu_password@localhost:3306/dulcemoment_db
# Asegúrate de tener mysql-connector-python instalado: pip install mysql-connector-python
CORS_ORIGINS=*
STRIPE_SECRET_KEY=
STRIPE_CURRENCY=mxn
STRIPE_CONNECTED_ACCOUNT_ID=
STRIPE_WEBHOOK_SECRET=
PLATFORM_FEE_PERCENT=5.0
PAYMENT_PROVIDER=mercadopago
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_CLIENT_ID=
MERCADOPAGO_CLIENT_SECRET=
ENABLE_FAKE_PAYMENTS=false
FIREBASE_SERVICE_ACCOUNT_PATH=
JWT_SECRET_KEY=dulcemoment-change-this-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
JWT_REFRESH_EXPIRE_MINUTES=43200
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=root
CLOUDINARY_API_KEY=423523764535273
CLOUDINARY_API_SECRET=1M9Qb6aXwVed_hx2QwdaLLrEFCU
CLOUDINARY_FOLDER=dulcemoment
